<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Edit Pokemon</h1>

<form action="/pokemon/<%=id%>?_method=PUT" method="POST">
<div>Name: <input type="text" name="name">  </div>
<div>Image: <input type="text" name="img">  </div>

<button type="submit">Submit edit</button>
</form>
</body>
</html>