body{
    color: blue;
    font-size: 32px;
    background: greenyellow;
    font-variant: small-caps;
}

h1{
    text-align: center;
}

.pokemon {
    font-size: 32px;
    color: red;
}

a{
    color:blue;
    display: inline;
}

.image{
    text-align: center;
}

button {
    background-color: white;
    font-size: 20px;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }

#edit-button {
    background-color: white;
    font-size: 20px;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}